<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="container">
       Content here 
      <main>
        <h1>Welcome to Library Management System</h1>  
        <hr>
        <a class="btn btn-primary" href="/" role="button">Get All Books</a>
        <a class="btn btn-primary" href="/" role="button">Add Book</a>
        <a class="btn btn-primary" href="/" role="button">Delete Book</a>
        <a class="btn btn-primary" href="/" role="button">Update Book</a>
    </main>
    
    </div>
   
	<script src="index.js"></script>
  </body>
</html>-->

{% extends "base.html" %}

{% block content %}

    <div class="container" style="text-align: center">


            <h4>Head over to listed sections to start</h4>


    </div>


{% endblock %}